
*{
    box-sizing: 0;
    margin: 0%;
}
.products{
    background-color: black;
}
nav{
    background-color:aqua;
    width: 100%;
}
.nav-item{

    border-radius: 10%;
    display: flex;
}
.nav-link{
    color:white;
    font-size:small;
    
}
.nav-btn{
    padding: 0 1%;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    visibility: hidden;
    opacity: 0;
}
.header {
    
    align-items: center;
}
.nav-item:hover{
    font-weight: 200;
}
.hamburger-menu{
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.hamburger-bar{
    background-color:greenyellow;
    justify-content: space-between;
}
.hidden{
    display: none;
}
.hamburger-bar.clicked:nth-child(1) {
    transform: rotate(45deg);
}
.hamburger-bar.unclicked {
    transform: rotate(0deg)
}
.watches-row {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}
.social_icon{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
}
@media screen and (max-width: 1024px){
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    .nav{
        height:fit-content;
        max-width: fit-content;
        display:flex;
    }
    .nav-responsive{
        transform:none;


    }